@tailwind base;
@tailwind components;
@tailwind utilities;

[data-radix-scroll-area-viewport] > div {
    display: flex !important;
    justify-content: center;
}

.visao-geral > div {
    height: 100%;
}